.container {
    height: 65vh;
}

#allUsers {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 20px;
    font-family: cursive;
    border-radius: 30px;
    font-size: 12px;
}


#allUsers table, tr,th, td{
    line-height: 30px;
    align-self: start;
    text-align: center;
    border: 1px solid brown;
}

#allUsers img{
    height: 200px;
    width: 150px;
}

#allUsers h3{
    text-decoration: solid;
    font-weight: bolder;
    font-size: large;
}