.container {
    height: 65vh;
}

#allCustomers {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 20px;
    font-family: cursive;
    border-radius: 30px;
}


#allCustomers tr,th, td{
    line-height: 70px;
    align-self: start;
}

#allCustomers img{
    height: 200px;
    width: 150px;
}

#allCustomers h3{
    text-decoration: solid;
    font-weight: bolder;
}