
    <div class="searchBook" method="post" *ngIf="flag == false">
        <h3 align="center">Search Books</h3><br>
          <form #searchBook="ngForm" (ngSubmit)="formSubmit(searchBook)">
              
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Search By: </label>
                <select class="form-select" id="validationCustom05" required ngModel name="searchBy" >
                  <option selected disabled value="">Choose...</option>
                  <option value="title" >Book Title</option>  
                  <option value="author" >Author Name</option>
                  <option value="category" >Category</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid Filter.
                </div>
              </div>
            <br>
            <div class="mb-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ngModel name="input">
                <input id="search" type="submit" class="btn btn-outline-dark" value="Search" >
          </div>
        </form>
    </div>




<div *ngIf="flag">
  <h3 align="center">Search Results</h3><br>
  <div class="tile1" *ngFor="let b of books">
    <div class="firstBox" id="myBox" >
        <div id="bookImg">
            <img id="cover" src="{{b.images}}" alt="" href="/"/>
        </div>
        <div id="bookRating">
            <app-rating [maxRating]="5" [initialRating]="b.rating" (ratingUpdated)="onRatingUpdated($event)"></app-rating>
        </div> 
    </div>

    <div id="bookDetails">
        <div id="detail1">
            <p> <strong>
                    Title : 
                </strong>
                <i>{{b.title}}</i>
            </p>
            <p>
                <strong>
                    Author : 
                </strong>
                {{b.author.authorName}}</p>
            <p>
                <strong>
                    Publisher : 
                </strong>
                {{b.publisher.publisherName}}</p>
            <p>
                <strong>
                    Category : 
                </strong>
                {{b.category}}</p>
        </div>
        <div id="detail2">
            <p>
                <strong>
                    Price : 
                </strong>
                {{b.price| currency:'INR'}}</p>
            <p>
                <strong>
                    ISBN Code : 
                </strong>
                {{b.isbncode}}</p>
            <p>
                <strong>
                    Published Year : 
                </strong>
                {{b.publishedYear}}</p>
            <p>
                <strong>
                    Book Condition : 
                </strong>
                {{b.bookCondition}}</p>
        </div>
    </div>

    <div id="cartButton">
        <input type="button" class="add-to-cart-button" value="Add To Cart" (click)="onClickAddToCart(b.bookID)">
    </div>

  </div>
</div>

<div class="container"></div>


<!-- 
<div id = "bookShelf" *ngIf="flag">
    <table  class="table table-success table-striped">
        <tr class="table-success">
            <th>Cover Photo</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Price</th>
            <th>ISBN Code</th>
            <th>Published Year</th>
            <th>Book Condition</th>
        </tr>
    <tr *ngFor="let b of books" class="table-success">
        <td><img src="{{b.images}}" alt="" href="/"/></td>
        <td>{{b.title}}</td>
        <td>{{b.author.authorName}}</td>
        <td>{{b.publisher.publisherName}}</td>
        <td>{{b.category}}</td>
        <td>{{b.price | currency : 'INR'}}</td>
        <td>{{b.isbncode}}</td>
        <td>{{b.publishedYear}}</td>
        <td>{{b.bookCondition}}</td>
        <td>
          <input type="button" class="add-to-cart-button" value="Add To Cart" (click)="onClickAddToCart(b.bookID)">
      </td>
    </tr>
    </table>
</div>
 -->

