
    <div class="searchBook" method="post">
        <h3 align="center">Search Books</h3><br>
          <form #searchBook="ngForm" (ngSubmit)="formSubmit(searchBook)">
              
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Search By: </label>
                <select class="form-select" id="validationCustom05" required ngModel name="searchBy" >
                  <option selected disabled value="">Choose...</option>
                  <option value="title" >Book Title</option>  
                  <option value="author" >Author Name</option>
                  <option value="category" >Category</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid Filter.
                </div>
              </div>
            <br>
            <div class="mb-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" ngModel name="input">
                <input id="search" type="submit" class="btn btn-outline-dark" value="Search" >
          </div>
        </form>
    </div>



<div id = "bookShelf" *ngIf="flag">
    <table  class="table table-success table-striped">
        <tr class="table-success">
            <th>Cover Photo</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Price</th>
            <th>ISBN Code</th>
            <th>Published Year</th>
            <th>Book Condition</th>
        </tr>
    <tr *ngFor="let b of books" class="table-success">
        <td><img src="{{b.images}}" alt="" href="/"/></td>
        <td>{{b.title}}</td>
        <td>{{b.author.authorName}}</td>
        <td>{{b.publisher.publisherName}}</td>
        <td>{{b.category}}</td>
        <td>{{b.price | currency : 'INR'}}</td>
        <td>{{b.isbncode}}</td>
        <td>{{b.publishedYear}}</td>
        <td>{{b.bookCondition}}</td>
    </tr>
    </table>
</div>

<div class="container"></div>
