.container {
    height: 10vh;
}

.searchBook{

    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 7%;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 20px;
    
    font-family: cursive;
    border-radius: 30px;
}

.searchBook #search{
    border-color: #641E16;
    color: #641E16;
    display: flex;
    margin-left: 2%;
    opacity: 80%;   
    text-align: center; 
    margin-top: 10%;
    
}


.searchBook #search:hover{
    color: aliceblue;
    background-color: #641E16 ;
    opacity: 80%;
}

.container {
    height: 65vh;
}

#bookShelf {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: auto;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 20px;
    font-family: cursive;
    border-radius: 30px;
}


#bookShelf tr,th, td{
    line-height: 70px;
    align-self: start;
}

#bookShelf img{
    height: 200px;
    width: 150px;
}



/* Style the anchor element to look like an image or button */
a {
    display: inline-block; /* Make it a block-level element for sizing */
    text-decoration: none; /* Remove underline on link */
    border: 0px solid #ccc; /* Add a border for button-like appearance */
    padding: 10px; /* Add padding for spacing */
    border-radius: 20px; /* Rounded corners for button effect */
    background-color: #f0f0f0; /* Background color */
    transition: background-color 0.2s; /* Add a smooth transition */
    width: 50%;
  }
  
  /* Style the anchor element on hover */
  a:hover {
    background-color: #ddd; 
  }

  .add-to-cart-button {
    background-color: #DAF7A6; 
    line-height: 20px;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
  }

  /*
  .add-to-cart-button {
    background-color: #DAF7A6; 
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
  }
  */
  .add-to-cart-button:hover {
    background-color: #9CCC65  
  }
  
  
  
  
  
  