<div class="placeOrder" method="post" *ngIf="flag == false">
    <h3 align="center">Place Cart Order</h3><br>
    <form #placeCartOrder="ngForm" (ngSubmit)="formSubmit(placeCartOrder)">
            <div class="mb-3">
                <label for="exampleFormControlInput8" class="form-label">Shipping Address</label>
                <input type="text" class="form-control" id="exampleFormControlInput8" placeholder="Shipping Address" ngModel name="address">
            </div>
          <input id="place" type="submit" class="btn btn-outline-dark" value="Place Order" href="https://rzp.io/l/arsenalPay">
          
        </form>
    </div>


<div id = "bookShelf" *ngIf="flag">
  <h3 align="center">Order Details</h3><br>
  <table  class="table table-success table-striped">
    <tr class="table-success">
      <th>Order ID</th>
      <td>:</td>
      <td>{{orderDetails.orderID}}</td>
    </tr>
    <tr class="table-success">
      <th>Name</th>
      <td>:</td>
      <td>{{orderDetails.cust_Name}}</td>
    </tr>
    <tr class="table-success">
      <th>Email</th>
      <td>:</td>
      <td>{{orderDetails.email}}</td>
    </tr>
      <tr class="table-success">
        <th>Tax Amount</th>
        <td>:</td>
        <td>{{orderDetails.tax_Amount | currency:'INR'}}</td>
      </tr>
      <tr class="table-success">
        <th>Discount Amount</th>
        <td>:</td>
        <td>{{orderDetails.discount_Amount | currency:'INR'}}</td>
      </tr>
      <tr class="table-success">
        <th>Total Amount</th>
        <td>:</td>
        <td>{{orderDetails.amount | currency:'INR'}}</td>
      </tr>
      <tr class="table-success">
        <th>Shipping Address</th>
        <td>:</td>
        <td>{{orderDetails.shipping_Address}}</td>
      </tr>
      <tr class="table-success">
        <th>Order Date</th>
        <td>:</td>
        <td>{{orderDetails.order_Date|date}}</td>
      </tr>
      <tr class="table-success">
        <th>Payment Status</th>
        <td>:</td>
        <td>{{orderDetails.status}}</td>
      </tr>
      <tr class="table-success">
        <th>Payment Date</th>
        <td>:</td>
        <td>{{orderDetails.payment_date|date}}</td>
      </tr>   
  </table>
</div>

<div class="container"></div>

<!--
<h1>Book Order Form</h1>
    <form id="order-form">
        <label for="book">Select a book:</label>
        <select id="book" name="book">
            <option value="book1">Book 1</option>
            <option value="book2">Book 2</option>
            <option value="book3">Book 3</option>
            
        </select>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">

        <h2>Shipping Information</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="address">Address:</label>
        <textarea id="address" name="address" rows="4" required></textarea>

        <button type="submit">Place Order</button>
    </form> 
-->