<div class="addPublisher" method="post" *ngIf="flag==false">
    <h3 align="center">Add Publisher</h3><br>
      <form #addPublisherForm="ngForm" (ngSubmit)="formSubmit(addPublisherForm)">
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Publisher Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Publisher Name" ngModel name="publisherName">
            </div>
            <input id="add" type="submit" class="btn btn-outline-dark" value="Add Publisher" >
          </form>
      </div>


      <div id = "bookShelf" *ngIf="flag==true">
        <h3 align="center">Added Publisher Details</h3><br>
        <table  class="table table-success table-striped">
          <tr class="table-success">
            <th>Publisher ID</th>
            <td>:</td>
            <td>{{publisher.publisherID}}</td>
          </tr>
          <tr class="table-success">
            <th>Name</th>
            <td>:</td>
            <td>{{publisher.publisherName}}</td>
          </tr>
          <tr class="table-success">
            <th>Publisher Added On</th>
            <td>:</td>
            <td>{{publisher.recordCreatedOn|date:'dd-mm-yyyy hh:mm:ss'}}</td>
          </tr>  
        </table>
      </div>