<div class="addCustomer" method="post">
    <h3 align="center">Add Customer</h3><br>
    <form #addCustomer="ngForm" (ngSubmit)="formSubmit(addCustomer)">
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Name" ngModel name="name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="Email" ngModel name="email">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="Address" ngModel name="address">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput6" class="form-label">Phone</label>
            <input type="email" class="form-control" id="exampleFormControlInput6" placeholder="Phone" ngModel name="phoneNo">
          </div>
          

          <input id="add" type="submit" class="btn btn-outline-dark" value="Add Customer">
          
        </form>
    </div>

    <div class="container"></div>
