
#bookShelf {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 10px;
    font-family: cursive;
    font-size: 12px;
    text-align: center;
    border-radius: 30px;
}


#bookShelf table, tr,th, td{
    line-height: 30px;
    align-self: start;
    border: 1px solid brown;
    border-radius: 30px;
}

#bookShelf img{
    height: 200px;
    width: 150px;
}

#bookShelf h3{
    text-decoration: solid;
    font-weight: bolder;
    font-size: large;
}