<h3>Book-Shelf</h3>
<div class="tile1" *ngFor="let b of books">
    <div class="firstBox" id="myBox" >
        <div id="bookImg">
            <img id="cover" src="{{b.images}}" alt="" href="/"/>
         </div>
        
         <div id="bookRating">
            <app-rating [maxRating]="5" [initialRating]="b.rating" (ratingUpdated)="onRatingUpdated($event)"></app-rating>
         </div> 
    </div>

    <div id="bookDetails">
        <div id="detail1">
            <p> <strong>
                    Title : 
                </strong>
                <i>{{b.title}}</i>
            </p>
            <p>
                <strong>
                    Author : 
                </strong>
                {{b.author.authorName}}</p>
            <p>
                <strong>
                    Publisher : 
                </strong>
                {{b.publisher.publisherName}}</p>
            <p>
                <strong>
                    Category : 
                </strong>
                {{b.category}}</p>
        </div>
        <div id="detail2">
            <p>
                <strong>
                    Price : 
                </strong>
                {{b.price| currency:'INR'}}</p>
            <p>
                <strong>
                    ISBN Code : 
                </strong>
                {{b.isbncode}}</p>
            <p>
                <strong>
                    Published Year : 
                </strong>
                {{b.publishedYear}}</p>
            <p>
                <strong>
                    Book Condition : 
                </strong>
                {{b.bookCondition}}</p>
        </div>
        <div id="detail3">
            <p>
                <strong>
                    Discription:
                </strong>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>

        </div>
    </div>
    <div class="actions">
        <div class="col-md-3" id="condition">
            <label for="validationCustom06" class="form-label"><strong>Condition:</strong></label>
            <select class="form-select" id="validationCustom06" required #condition >
            <option selected disabled value="">Choose...</option>
                <option value="New">New</option>
                <option value="Used">Used</option>
            </select>
            <div class="invalid-feedback">
            Please select a valid Book Condition.
            </div>
        </div>

        <div id="cartButton">
            <input type="submit" class="add-to-cart-button" value="Add To Cart" (click)="onClickAddToCart(b.bookID, condition.value)">
        </div>
    </div>
</div>


<!-- 
        <div id = "bookShelf" >
        <h3 align="center">All Books</h3><br>
        <table  class="table table-success table-striped">
            <tr class="table-success">
                <th>Cover Photo</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Price</th>
                <th>ISBN Code</th>
                <th>Published Year</th>
                <th>Book Condition</th>
                <th>Add to Cart</th>
            </tr>
        <tr *ngFor="let b of books" class="table-success">
             <div class="firstBox" id="myBox" >
                <div id="bookImg">
                    <td ><img id="cover" src="{{b.images}}" alt="" href="/"/></td>
                 </div>
                
                 <div id="bookRating">
                    <app-rating [maxRating]="5" [initialRating]="b.rating" (ratingUpdated)="onRatingUpdated($event)"></app-rating>
                 </div> 
            </div>
            <td>{{b.title}}</td>
            <td>{{b.author.authorName}}</td>
            <td>{{b.publisher.publisherName}}</td>
            <td>{{b.category}}</td>
            <td>{{b.price| currency:'INR'}}</td>
            <td>{{b.isbncode}}</td>
            <td>{{b.publishedYear}}</td>
            <td>{{b.bookCondition}}</td>
            <td>
                <input type="button" class="add-to-cart-button" value="Add To Cart" (click)="onClickAddToCart(b.bookID)">
            </td>
        </tr>
        </table>
    </div>

 -->