.container {
    height: 65vh;
}

#bookShelf {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 20px;
    font-family: cursive;
    border-radius: 30px;
}


#bookShelf table, tr,th, td{
    line-height: 70px;
    align-self: start;
    text-align: center;
    
    
}

#bookShelf tr{
  line-height: 70px;
  align-self: start;
  text-align: center;
  border: 1.5px solid brown;
  margin: 2%;
  box-shadow: 2%;
  
}


#bookShelf #cover{
    height: 200px;
    width: 150px;
}



#bookShelf h3{
    text-decoration: solid;
    font-weight: bolder;
}

#bookShelf img{
  background-color: #9CCC65;
  background: none;
}

#bookShelf #cart{
    border-radius: 100%;
    box-shadow: 10px 10px 25px #E6B0AA;    
}


.firstBox{
  display: flex;
  background-color: blanchedalmond;
  flex-direction: column;
  margin-bottom: 0.5%;
}

#bookImg{
  height: 95%;
  background-color: blanchedalmond;
}
#bookRating{
  height: 5%;
  background-color: blanchedalmond;
  /* border: 1.5px solid brown; */
  
}


/* Style the anchor element to look like an image or button */
a {
    display: inline-block; /* Make it a block-level element for sizing */
    text-decoration: none; /* Remove underline on link */
    border: 0px solid #ccc; /* Add a border for button-like appearance */
    padding: 10px; /* Add padding for spacing */
    border-radius: 20px; /* Rounded corners for button effect */
    background-color: #f0f0f0; /* Background color */
    transition: background-color 0.2s; /* Add a smooth transition */
    width: 50%;
  }
  
  /* Style the anchor element on hover */
  a:hover {
    background-color: #ddd; /* Change background color on hover */
  }

  .add-to-cart-button {
    background-color: #DAF7A6; 
    line-height: 20px;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
  }

  /*
  .add-to-cart-button {
    background-color: #DAF7A6; 
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
  }
  */
  .add-to-cart-button:hover {
    background-color: #9CCC65  /* Change to your desired hover color */
  }
  
  /* ------------------------------------------------------------------------------------------------------- */

  .tile1{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    margin: 5%;
    text-indent: 2px;
    box-shadow: 10px 10px 25px #641E16;
    box-sizing: border-box;
    border: 2px solid;
    border-color: brown;
    padding: 1rem 20px;
    font-family: cursive;
    border-radius: 30px;
    
  }


  .tile1 #cover{
    height: 200px;
    width: 150px;
  }

  .tile1 #bookRating{
    margin: 5%;
  }

  .tile1 #bookDetails{
    height: fit-content;
    width: 100%;
    margin: auto;
    margin-right: 10%;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }

  #bookDetails #detail1{
    margin-left: 2px;
    width: 40%;
  }
  #bookDetails #detail2{
    margin-left: 5%;
    width: 50%;
  }
  #bookDetails #detail3{
    margin-left: 5%;
    width: fit-content;
    height: 100%;
    line-height: 35px;

  }

  .tile1 #cartButton{
    background-color: #DAF7A6; 
    line-height: 20px;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-radius: 4px;
    height: 5%;
  }

  .tile1 #cartButton:hover {
    background-color: #9CCC65
  }
  
  h3{
    text-decoration: solid;
    font-weight: bolder;
    font-family: cursive;
    font-weight: bolder;
    font-style: oblique;
    margin-top: 3%;
    margin-bottom: 0%;
    text-align: center;
}
  
.actions{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
}

.actions #condition{
  margin: 2%;
  width: auto;
}