    <div id = "bookShelf">
        <h3 align="center">All Books</h3><br>
        <table  class="table table-success table-striped">
            <tr class="table-success">
                <th>Cover Photo</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Price</th>
                <th>ISBN Code</th>
                <th>Published Year</th>
                <th>Book Condition</th>
            </tr>
        <tr *ngFor="let b of books" class="table-success">
            <td><img src="{{b.images}}" alt="" href="/"/></td>
            <td>{{b.title}}</td>
            <td>{{b.author.authorName}}</td>
            <td>{{b.publisher.publisherName}}</td>
            <td>{{b.category}}</td>
            <td>{{b.price}}</td>
            <td>{{b.isbncode}}</td>
            <td>{{b.publishedYear}}</td>
            <td>{{b.bookCondition}}</td>
        </tr>
        </table>
    </div>









<!--
<div *ngFor="let b of books" >
    <div class="col-md-3">
        <div class="card crd-ho">
        <div class="card-body text-center">
            <img alt="" src="assets\HimalyaFaceWash.jpg" style="width:150px;height:200px;"  class="img-thumblin"/>
            
            <br><br>
            <p><b>{{b.title}}</b></p>
            <p>{{b.author_Name}}</p>
            <p>{{b.category}}</p>
            <div class="row">
            <a href="" class="btn btn-danger btn-sm ml-2">Add Cart</a>
            <a href="" class="btn btn-success btn-sm ml-1">View Details</a>
            <a href="" class="btn btn-danger btn-sm ml-1">150</a>
            
            </div>	
        </div>
    </div>
    </div>
</div>

-->